@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Grotesk";
  src: 
      url("/static/fonts/TomatoGrotesk-Regular.b211da24.woff2") format('woff2')  
      ,url("/static/fonts/TomatoGrotesk-Black.6a5b6544.woff2") format('woff2'),
       

      }


      * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Grotesk';
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply border-b-2 border-gray-200 bg-gray-900 py-2 px-2 rounded-md h-12 w-full font-serif
  }
}

@layer utilities {
  .button{
    @apply bg-gray-600 text-white py-3 text-3xl rounded-2xl 
    }
    .button1{
      @apply bg-yellow-500 text-black font-serif text-sm py-3 w-full font-bold  rounded-md 
      }

      .button2{
        @apply hover:bg-blue-600 hover:bg-opacity-60 bg-transparent  border-2 border-gray-500 text-gray-200  text-sm py-3 px-3 w-[10rem] font-bold  rounded-3xl
        }
  .text-block{
    @apply bg-black
  }
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  
}